@font-face {
  font-family: DidotLH;
  src: url(../../fonts/DidotLH.otf); }
@font-face {
  font-family: Raleway, sans-serif; }
header {
  margin: 50px; }
  header .main {
    height: calc(100vh - 50px);
    position: relative; }
  header .header-bg {
    height: 100%;
    background: url(../../img/splashscreen.jpg) no-repeat center;
    background-size: cover;
    position: relative; }
  header .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.6); }
  header .vignette {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -moz-box-shadow: inset 0 0 300px 100px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: inset 0 0 300px 100px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 0 300px 100px rgba(0, 0, 0, 0.6); }
  header .header-content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between; }
  header .logo {
    position: relative;
    left: 30px;
    top: 24px;
    -webkit-box-flex: 0 1 auto;
    -moz-box-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto; }
  header .center-block {
    position: relative;
    margin: auto;
    z-index: 2;
    font: 800 62px Raleway;
    color: white;
    -webkit-align-self: center;
    -moz-align-self: center;
    -ms-align-self: center;
    align-self: center;
    -webkit-box-flex: 1 1 0;
    -moz-box-flex: 1 1 0;
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center; }
  header .welcome {
    font-size: 62px;
    position: relative;
    margin: 0 auto; }
  header .phone-line {
    padding: 0;
    margin: 0;
    -webkit-box-flex: 0 1 auto;
    -moz-box-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto; }
  header .underline {
    width: 50px;
    height: 6px;
    background-color: #ffffff;
    position: relative;
    top: 12px; }
  header .phone {
    font-size: 14px;
    margin-left: 104px; }

.main-menu {
  font: 800 16px Raleway;
  width: 1000px;
  min-width: 900px;
  margin: auto;
  height: 68px;
  padding: 0;
  list-style: none;
  text-align: center;
  bottom: 0;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch; }
  .main-menu .item {
    border-right: 1px solid #d1d1ca;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1 auto;
    -moz-box-flex: 1 auto;
    -webkit-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch; }
    .main-menu .item a {
      text-decoration: none;
      color: #ffffff; }
      .main-menu .item a:hover {
        color: #f2ab7f; }
    .main-menu .item:first-child {
      border-left: 1px solid #d1d1ca; }
    .main-menu .item.current {
      background-color: #ffffff; }
      .main-menu .item.current a {
        color: #303332; }

section {
  margin: auto;
  width: 1000px;
  min-width: 900px; }
  section .header {
    height: 100px;
    width: 100%;
    background: #1f1f21;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1f1f21 0%, #1f1f21 16%, #272729 47%, #272729 64%, #1f1f21 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1f1f21 0%, #1f1f21 16%, #272729 47%, #272729 64%, #1f1f21 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1f1f21 0%, #1f1f21 16%, #272729 47%, #272729 64%, #1f1f21 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1f21', endColorstr='#1f1f21',GradientType=0 );
    /* IE6-9 */ }
    section .header .text {
      padding-top: 10px;
      font: 36px DidotLH;
      color: #ffffff;
      text-align: center; }
    section .header .line {
      margin-top: 18px;
      background-color: #f2ab7f;
      height: 1px;
      width: 100%; }
    section .header .line-bolder {
      background-color: #f2ab7f;
      height: 3px;
      width: 69px;
      margin: 0 auto; }
  section .content {
    width: 100%; }

.lunch-menu {
  background-color: #ffffff; }
  .lunch-menu .page {
    margin-top: 55px; }
  .lunch-menu .dish {
    position: relative;
    height: 250px;
    width: 100%;
    margin-bottom: 82px;
    background-color: #ffffff;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    .lunch-menu .dish .view {
      position: relative;
      width: 50%;
      height: 100%;
      background-color: #ffffff;
      -webkit-box-flex: 1 1 auto;
      -moz-box-flex: 1 1 auto;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto; }
      .lunch-menu .dish .view .image {
        position: relative;
        width: 330px;
        height: 232px;
        background-size: cover; }
        .lunch-menu .dish .view .image .overlay {
          content: '';
          width: 100%;
          height: 100%; }
        .lunch-menu .dish .view .image.left:after {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          border-bottom: 232px solid #ffffff;
          border-left: 232px solid transparent; }
        .lunch-menu .dish .view .image.right:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          border-bottom: 232px solid #ffffff;
          border-right: 232px solid transparent; }
        .lunch-menu .dish .view .image.right {
          margin-left: 140px; }
        .lunch-menu .dish .view .image.dish1 {
          background: url(../../img/gebacken.jpg) no-repeat center; }
        .lunch-menu .dish .view .image.dish2 {
          background: url(../../img/brushetta.jpg) no-repeat center; }
        .lunch-menu .dish .view .image.dish3 {
          background: url(../../img/tallianette.jpg) no-repeat center; }
      .lunch-menu .dish .view .info {
        position: absolute;
        bottom: 15px;
        color: black;
        margin-right: 30px; }
        .lunch-menu .dish .view .info h1 {
          display: block;
          font: 32px DidotLH;
          margin-bottom: 30px; }
        .lunch-menu .dish .view .info p {
          font: 400 14px Raleway;
          margin-top: 6px;
          margin-bottom: 6px; }
        .lunch-menu .dish .view .info.right {
          text-align: right;
          right: 0px;
          left: 0; }
        .lunch-menu .dish .view .info.left {
          text-align: left;
          left: 15px;
          right: 0; }
    .lunch-menu .dish .price {
      width: 50%;
      height: 100%;
      -webkit-box-flex: 1 1 auto;
      -moz-box-flex: 1 1 auto;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center; }
      .lunch-menu .dish .price .dish-img {
        margin: auto;
        width: 136px;
        height: 96px;
        background: url(../../img/dish.png) no-repeat;
        background-size: cover;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center; }
      .lunch-menu .dish .price .text {
        font: 24px DidotLH;
        color: black;
        margin: auto; }
  .lunch-menu .text-info {
    font: 16px DidotLH;
    color: black;
    text-align: center; }
    .lunch-menu .text-info p {
      margin-top: 6px;
      margin-bottom: 6px; }
  .lunch-menu .actions .title {
    font: 36px DidotLH;
    color: #f2ab7f;
    text-align: center;
    margin-top: 44px;
    margin-bottom: 44px; }
  .lunch-menu .actions ul {
    list-style: none;
    margin-left: 60px;
    margin-right: 60px;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    position: relative; }
    .lunch-menu .actions ul li {
      position: relative;
      display: block;
      width: 240px;
      height: 300px;
      outline: 1px solid #f1ae84; }
      .lunch-menu .actions ul li div {
        background-size: cover;
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 10px;
        right: 10px; }
      .lunch-menu .actions ul li.action1 div {
        background: url(../../img/first.jpg) no-repeat; }
      .lunch-menu .actions ul li.action2 div {
        background: url(../../img/second.jpg) no-repeat; }
      .lunch-menu .actions ul li.action3 div {
        background: url(../../img/third.jpg) no-repeat; }
  .lunch-menu .actions .dots {
    margin-top: 26px;
    margin-bottom: 26px;
    height: 18px; }

.menu {
  background-color: #e0dccd; }
  .menu .content {
    height: 100%; }
  .menu .page {
    margin-bottom: 70px;
    height: 100%;
    width: 100%; }
    .menu .page .row {
      margin-top: 60px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between; }
  .menu .menu-dish {
    position: relative;
    font: 400 14px Raleway;
    width: 450px;
    height: 280px;
    outline: 1px solid #f1ae84;
    outline-offset: -5px; }
    .menu .menu-dish .description {
      position: absolute;
      top: 12px;
      bottom: 12px;
      left: 15px;
      right: 12px;
      background-color: #ffffff;
      padding-top: 10px;
      padding-left: 15px; }
      .menu .menu-dish .description > * {
        padding-top: 10px; }
      .menu .menu-dish .description p {
        margin-top: 6px;
        margin-bottom: 6px; }
      .menu .menu-dish .description a {
        display: block;
        bottom: 12px;
        position: absolute; }
    .menu .menu-dish .image {
      position: absolute;
      top: 12px;
      bottom: 12px;
      right: 12px;
      z-index: 1;
      background-size: cover;
      width: 150px; }
    .menu .menu-dish .image1 {
      background: url(../../img/pasta.jpg) no-repeat;
      background-position: -74px; }
    .menu .menu-dish .image2 {
      background: url(../../img/beilagen.jpg) no-repeat;
      background-position: -125px; }
    .menu .menu-dish .image3 {
      background: url(../../img/meals.jpg) no-repeat;
      background-position: -74px; }
    .menu .menu-dish .image4 {
      background: url(../../img/salad.jpg) no-repeat;
      background-position: -125px; }
    .menu .menu-dish .image5 {
      background: url(../../img/dessert.jpg) no-repeat;
      background-position: -74px; }
    .menu .menu-dish .image6 {
      background: url(../../img/suppen.jpg) no-repeat;
      background-position: -125px; }
    .menu .menu-dish .title {
      font: 24px DidotLH; }
    .menu .menu-dish .read-more {
      color: black; }
      .menu .menu-dish .read-more:hover {
        color: #1f1f21;
        font-weight: 800; }

.gallery {
  width: 100%;
  padding: 0; }
  .gallery .header {
    width: 1000px;
    min-width: 900px;
    margin: auto; }
  .gallery .content {
    position: relative;
    height: 100%;
    margin-top: -100px;
    z-index: -1;
    background-color: #ffffff;
    padding-bottom: 8px; }
    .gallery .content .gallery-slider img {
      display: block;
      width: 100%;
      height: 100%;
      outline: 30px solid #ffffff;
      outline-offset: -29px; }

.contacts {
  font: 700 14px Raleway;
  height: 100%;
  background-color: #e0dccd; }
  .contacts .content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    -moz-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between; }
  .contacts .contact-form {
    margin-top: 56px;
    margin-bottom: 130px;
    -webkit-box-flex: 0 1 auto;
    -moz-box-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto; }
  .contacts input[type=text] {
    width: 286px; }
  .contacts textarea {
    width: 465px;
    resize: none; }
  .contacts button[type=submit] {
    font: 700 14px Raleway;
    cursor: pointer;
    width: 200px;
    height: 48px;
    overflow: hidden;
    outline: none; }
  .contacts input[type=text], .contacts textarea {
    padding: 12px 12px;
    margin-top: 8px;
    margin-bottom: 24px;
    display: block; }
    .contacts input[type=text]:focus, .contacts textarea:focus {
      background-color: #ffffff;
      outline: none !important; }
  .contacts input[type=text], .contacts textarea, .contacts button {
    border: 1px solid #f1ae84;
    background-color: Transparent;
    background-repeat: no-repeat; }
  .contacts .google-map {
    position: relative;
    top: 68px;
    width: 494px;
    height: 264px;
    background: Transparent;
    border: 1px solid #f1ae84;
    -webkit-box-flex: 0 1 auto;
    -moz-box-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto; }
    .contacts .google-map map {
      outline: 1px solid #f1ae84;
      outline-offset: -5px;
      background-color: white;
      width: 100%;
      height: 100%; }
    .contacts .google-map iframe {
      position: absolute;
      top: 12px;
      left: 12px;
      z-index: 1; }

footer {
  background-color: #1f1f21;
  width: 100%;
  height: 420px;
  position: relative;
  bottom: 0;
  display: block; }
  footer .social-network {
    position: relative;
    background-color: #ffffff;
    width: 1000px;
    min-width: 900px;
    margin: auto;
    height: 320px;
    top: -66px; }
    footer .social-network:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      right: -32px;
      border-right: 32px solid #ffffff;
      height: 100%; }
    footer .social-network .text {
      position: relative;
      top: 50px;
      left: 50px; }
    footer .social-network p {
      margin: 1px; }
    footer .social-network .big-text {
      font: 36px DidotLH; }
    footer .social-network .small-text {
      font: 18px DidotLH; }
    footer .social-network .decor {
      height: 20px; }
      footer .social-network .decor .line {
        height: 1px;
        width: 252px;
        margin-top: 30px;
        background-color: #f2ab7f; }
  footer .footer-content {
    width: 1000px;
    min-width: 900px;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between; }
    footer .footer-content .column {
      color: #ffffff;
      width: 162px;
      height: 54px;
      padding-left: 12px;
      font: 400 11px Raleway;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -webkit-box-flex: auto;
      -moz-box-flex: auto;
      -webkit-flex: auto;
      -ms-flex: auto;
      flex: auto; }
      footer .footer-content .column div {
        position: absolute;
        bottom: 32px; }
      footer .footer-content .column p {
        margin: 3px;
        margin-left: 12 px; }
      footer .footer-content .column:first-child {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: flex-start;
        -moz-align-items: flex-start;
        -ms-align-items: flex-start;
        align-items: flex-start; }
      footer .footer-content .column:last-child {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: flex-end;
        -moz-align-items: flex-end;
        -ms-align-items: flex-end;
        align-items: flex-end; }
      footer .footer-content .column .bartender {
        width: 33px; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #e0dccd;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

/*# sourceMappingURL=style.css.map */
