
@font-face {
  font-family: $font-header;
  src: url(../../fonts/Didot_Italic.ttf);
}
@font-face {
  font-family: $font-main;
  font-weight: bold;
  src: url(../../fonts/Raleway-Bold.ttf);
}
