
@font-face {
  font-family: $font-header;
  src: url(../../fonts/Didot_Italic.ttf);
}
@font-face {
  font-family: $font-main;
  src: url(../../fonts/Raleway-Bold.ttf);
}

@font-face {
  font-family: $font-main;
  src: url(../../fonts/Raleway-Regular.ttf);
}
