footer {
  background-color: $dark-gray;
  width: 100%;
  height: 420px;
  position: relative;
  bottom: 0;
  display: block;

  .social-network {
    position: relative;
    background-color: $white;
    width: $width;
    min-width: $min-width;
    margin: auto;
    height: 320px;
    top: -66px;
      
    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      right: -32px;
      border-right: 32px solid $white;
      height: 100%;
    }
    .text {
      position: relative;
      top: 50px;
      left: 50px;
    }
    p {
      margin: 1px;
    }
    .big-text {
      font: 36px $font-italic;
    }
    .small-text {
      font: 18px $font-italic;
    }
    .decor {
      height: 20px;
      .line {
        height: 1px;
        width: 252px;
        margin-top: 30px;
        background-color: #f2ab7f;
      }
    }
  }

  .footer-content {
    width: $width;
    min-width: $min-width;
    margin: auto;

    @include flexbox();
    @include flex-direction(row);
    @include justify-content(space-between);
    .column {
      color: $white;
      width: 162px;
      height: 54px;
      padding-left: 12px;
      font: 400 11px $font-main;
      @include flex-direction(column);
      @include flexbox();
      @include align-items(center);
      @include flex(auto);

      div {
        position: absolute;
        bottom: 32px;
      }
      p {
        margin: 3px;
        margin-left: 12 px;
      }
      &:first-child{
        @include flexbox();
        @include align-items(flex-start);
      }
      &:last-child{
        @include flexbox();
        @include align-items(flex-end);
      }
      .bartender {
        width: 33px;
      }
    }
  }

}
