
header {
  margin: 50px;

  .main {
    height: calc(100vh - 50px);
  }
  .header-bg {
    height: 100%;
    background: url(../../img/splashscreen.jpg) no-repeat center;
    background-size: cover;
    position: relative;
  }
  .overlay {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .vignette {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    @include box-shadow-vignette(inset, 0, 0, 300px, 100px, rgba(0,0,0,0.6));
  }
  .header-content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(space-between);
  }
  .logo {
    position: relative;
    left: 30px; top: 24px;
    @include flex(auto);
  }
  .center-block {
    margin:0;
    font: 800 62px $font-main;
    color: white;
    align-self: center;
    @include flex(1 1 auto);
  }
  .welcome {
    font-size: 62px;
  }
  .phone-line {
    padding: 0;
    margin:0;
  }
  .underline {
    width: 50px;
    height: 6px;
    background-color: $white;
    position: relative;
    top: 12px;
  }
  .phone {
    font-size: 14px;
    margin-left: 104px;
  }

}
