
.main-menu {
  font: 800 $font-main-size $font-main;
  width: 100%;
  height: 68px;
  padding-left: $padding-main-left - $frame-size;
  padding-right: $padding-main-right - $frame-size;
  margin: 0;
  list-style: none;
  text-align: center;
  position: absolute;
  bottom:0;
  z-index: 3;
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(space-between);
  @include align-items(stretch);

  .item {
    border-right: 1px solid $light-gray;
    @include flexbox();
    @include flex (1 auto);
    @include justify-content(center);
    @include flex-direction(column);
    @include align-items(stretch);

    a {
      text-decoration: none;
      color: $white;
      &:hover {
        color: $beige;
      }
    }
    &:first-child {
      border-left: 1px solid #d1d1ca;
    }
    &.current {
      background-color: $white;
      a {
       color: #303332;
      }
    }
  }
}
