.menu {
  background-color: $light-gray;

  .content {
    height: 100%;
  }
  .page {
    margin-top: 55px;
    margin-bottom: 68px;
    height: 100%;
    $item-height: 282px;
    display: grid;
    grid-template-columns: 450px 1fr 450px;
    grid-template-rows: $item-height $item-height $item-height;
    width: 100%;
    grid-row-gap: 55px;
  }

  .menu-dish {
    $t: 12px;
    $l: 15px;
    font: 400 14px $font-main;
    outline: 1px solid $orange;
    outline-offset: -5px;
    // padding-left: 16px;
    position: relative;
    .content {

    }
    .description {
      position: absolute; top: $t; bottom: $t; left: $l; right: $t;
      background-color: $white;
      padding-top: 10px;
      padding-left: 15px;
      & > * {
        padding-top: 10px;
      }
      p {
        $m: 6px;
        margin-top: $m;
        margin-bottom: $m;
      }
      a {
        display: block;
        bottom: 12px;
        position: absolute;
      }
    }
    .image {
      position: absolute; top: $t; bottom: $t; right: $t;
      z-index: 1;
      background-size: cover;
      width: 150px;
    }
    .image1 {
      background:url(../../img/pasta.jpg) no-repeat;
      background-position: -74px;
    }
    .image2 {
      background:url(../../img/beilagen.jpg) no-repeat;
      background-position: -125px;
    }
    .image3 {
      background:url(../../img/meals.jpg) no-repeat;
      background-position: -74px;
    }
    .image4 {
      background:url(../../img/salad.jpg) no-repeat;
      background-position: -125px;
    }
    .image5 {
      background:url(../../img/dessert.jpg) no-repeat;
      background-position: -74px;
    }
    .image6 {
      background:url(../../img/suppen.jpg) no-repeat;
      background-position: -125px;
    }
    .title {
      font: 24px $font-italic;
    }
    .text {
    }
    .read-more {
      color: black;
      &:hover {
        color: $dark-gray;
        font-weight: 800;
      }
    }
  }
}
