section {
  margin: auto;
  // padding-left: $padding-main-left;
  // padding-right: $padding-main-right;
  width: $width;
  min-width: $min-width;

  .header {
    height: 100px;
    width: 100%;
    background: #1f1f21; /* Old browsers */
    background: -moz-linear-gradient(top, #1f1f21 0%, #1f1f21 16%, #272729 47%, #272729 64%, #1f1f21 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1f1f21 0%,#1f1f21 16%,#272729 47%,#272729 64%,#1f1f21 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1f1f21 0%,#1f1f21 16%,#272729 47%,#272729 64%,#1f1f21 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1f21', endColorstr='#1f1f21',GradientType=0 ); /* IE6-9 */

    .text {
      padding-top: 10px;
      font: 36px $font-italic;
      color: $white;
      text-align: center;
    }
    .line {
      margin-top: 18px;
      background-color: $beige;
      height: 1px;
      width: 100%;
    }
    .line-bolder {
      background-color: $beige;
      height: 3px;
      width: 69px;
      margin: 0 auto;
    }
  }

  .content {
    width: 100%;
  }
}
