$font-header: DidotLH;
$font-main: Raleway;
$font-main-size: 16px;
$bg-color: #e0dccd;
$white: #ffffff;
$padding-main-left: 137px;
$padding-main-right: 117px;
$frame-size: 50px;
$footer-color: #1f1f21;
