
$font-main-size: 16px;
$padding-main-left: 137px;
$padding-main-right: 117px;
$frame-size: 50px;
$width: 1000px;
$min-width: 900px;

$bg-color: #e0dccd;
$dark-gray: #1f1f21;
$light-gray: #d1d1ca;
$white: #ffffff;
$beige: #f2ab7f;
$orange: #f1ae84;
